.github
.vscode
.amazonq
.gemini
.opencode
.agents
.claude
package-lock.json
**/.env
**/.embeddings.cache.json
**/coverage
*.tgz
assets
plan
node_modules
test-scripts
vector-db/*.lance
mcp-server/vector-db/__manifest
mcp-server/dist
mcp-server/node_modules
mcp-server/bin
mcp-server/helpers/**/obj
mcp-server/helpers/**/bin
mcp-output.log
mcp_servers.json
mcp-server/README.md
mcp-server/LICENSE
mcp-server/package-lock.json
